body{

    background:linear-gradient(135deg,#b77eb6,#000e0f);

    font-family:Arial, Helvetica, sans-serif;

    min-height:100vh;

}

.card{

    border:none;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.card h2{

    color:#340134;

    font-weight:bold;

}

#taskInput{

    height:50px;

    border-radius:10px;

}

.btn{

    transition:.3s;

}

.btn:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 15px rgba(0,0,0,.2);

}

.list-group-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:10px;

    border-radius:10px;

    transition:.3s;

}

.list-group-item:hover{

    background:#f8f9fa;

}

.completed{

    text-decoration:line-through;

    color:gray;

}

@media(max-width:768px){

    .card{

        margin:15px;

    }

    .input-group{

        flex-direction:column;

    }

    .input-group button{

        width:100%;

        margin-top:10px;

    }

    #deleteTask{

        width:100%;

    }

}